NODE_ENV=development
NUXT_PUBLIC_API_BASE=http://127.0.0.1:4000/api
API_PORT=4000
API_PREFIX=api
AUTH_ACCESS_TOKEN_SECRET=book-maker-access-secret
AUTH_ACCESS_TOKEN_EXPIRES_IN=15m
AUTH_REFRESH_TOKEN_SECRET=book-maker-refresh-secret
AUTH_REFRESH_TOKEN_EXPIRES_IN=14d
AUTH_REFRESH_SESSION_PREFIX=auth:refresh

POSTGRES_HOST=127.0.0.1
POSTGRES_DB=book_maker
POSTGRES_USER=book_maker
POSTGRES_PASSWORD=book_maker
POSTGRES_PORT=5432
POSTGRES_CONNECT_ON_BOOTSTRAP=true

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
REDIS_CONNECT_ON_BOOTSTRAP=true
